# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Large datasets / caches
livebench_coding/downloads/
livebench_coding/test/*.arrow
wandb/
live_bench/

# Python build artifacts
*.egg-info/
dist/
build/

# OS-specific files
.DS_Store

# Project artifacts
out.txt
